<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Emp</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>

<div>
<form th:action="@{/addEmployee}" th:object="$  {employee}" method="Post" action="#">
<input type="text" th:field="*{firstName}" placeholder="First Name" class="form-control col-4">

    <input type="text" th:field="*{lastName}" placeholder="Last Name" class="form-control col-4">
    <input type="text" th:field="*{email}" placeholder="Email" class="form-control col-4">

    <button type="submit" class="btn btn-info"> Save Employee</button>
</form>

</div>

</body>
</html>