<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>EmployeeListing</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<div align="center">
    <h1>Employees Listed...</h1>
    <a th:href = "@{/addEmployeeForm}" class="btn btn-primary btn-sm mb-4">Add Employee Form</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Emp Name</th>
            <th>Emp Surname</th>
            <th>Emp Email</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody>
            <tr th:each="employee : ${listEmployees}">
                <td th:text="${employee.firstName}"></td>
                <td th:text="${employee.lastName}"></td>
                <td th:text="${employee.email}"></td>
                <td class="btn btn-dark"><a th:href="@{/updateEmployeeForm/{id}(id=${employee.id})}">Update</a></td>
                <td class="btn btn-danger"><a th:href="@{/deleteEmployee/{id}(id=${employee.id})}">Delete</a></td>

            </tr>
        </tbody>

    </table>

</div>
</body>
</html>