<component name="ArtifactManager">
  <artifact type="war" name="springee:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>springee</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="springee-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="springee:war exploded" />
    </root>
  </artifact>
</component>