<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<form th:action="@{/users/search}" class="form-inline">
    <input class="form-control mr-sm-2 mb-3" style="width: 45%" type="search" name="reportParam" placeholder="Search by name, surname or username" />
    <button class="btn btn-success mb-3" type="submit">Search</button>
</form>

<table class="table table-bordered table-striped">
    <thead class="thead-light">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone</th>
        <th>Address</th>
        <th>Experience</th>
        <div sec:authorize="hasRole('ROLE_ADMIN')">
            <th>Delete</th>
        </div>
    </tr>
    </thead>

    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.firstName}"/>
        <td th:text="${user.lastName}"/>
        <td th:text="${user.phone}"/>
        <td th:text="${user.address}"/>
        <td th:text="${user.experience}"/>
        <div>
            <td>
                <a th:href="@{/users/delete(id=${user.id})}"
                   class="btn btn-danger btn-sm"
                   onclick="if (!(confirm('Are you sure you want to delete this report?'))) return false ">Delete</a>
            </td>
        </div>
    </tr>
    </tbody>
</table>
</body>
</html>