<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin Page for Adding Report</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js"
            integrity="sha384-zDnhMsjVZfS3hiP7oCBRmfjkQC4fzxVkLH2X8VIwF7sx28G7AlTxfeIscP4Qzm"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>

    <link href="form-validation.css" rel="stylesheet">
</head>

<body class="bg-light">

<div class="container">
    <div class="py-5 text-center">
        <h2>Account Detail</h2>
    </div>

    <div class="mb-5">
        <h2>Select Deposit Amount:</h2>
        <br>
        <div class="row">
            <a class="btn btn-dark" th:href="@{/account/deposit(id=${account.id}, amount=500)}">500</a>
            <a class="btn btn-dark" th:href="@{/account/deposit(id=${account.id}, amount=300)}">300</a>
            <a class="btn btn-dark" th:href="@{/account/deposit(id=${account.id}, amount=100)}">100</a>
            <a class="btn btn-dark" th:href="@{/account/deposit(id=${account.id}, amount=50)}">50</a>
        </div>

    </div>

    <div class="mb-5">
        <h2>Select Withdraw Amount:</h2>
        <br>
        <div class="row">
            <a class="btn btn-danger" th:href="@{/account/withdraw(id=${account.id}, amount=500)}">500</a>
            <a class="btn btn-danger" th:href="@{/account/withdraw(id=${account.id}, amount=300)}">300</a>
            <a class="btn btn-danger" th:href="@{/account/withdraw(id=${account.id}, amount=100)}">100</a>
            <a class="btn btn-danger" th:href="@{/account/withdraw(id=${account.id}, amount=50)}">50</a>
        </div>
    </div>



    <div class="row">
        <input type="number" id="amount2" placeholder="Amount">
    </div>
    <div class="row">
        <input type="text" id="toAccount" placeholder="Account Number">
    </div>
    <div class="row">
        <a class="btn btn-danger" th:href="@{/account/transfer(fromAccountId=${account.id}, toAccountId=2, amount=100)}">Transfer</a>
    </div>
    <br><br>
    <a th:href="@{/account}" class="btn btn-info btn-m btn-block" type="submit">Accounts Table</a>


    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; Kinto2517</p>

    </footer>
</div>

<script>
    var el_button = document.getElementById("button_id");
    el_button.onclick = fillDateNow;

    function fillDateNow() {
        var today = new Date().toISOString().substring(0, 16)
        document.getElementById("date").value = today;
    }
</script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>

</body>
</html>
