<!doctype html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.0-beta1 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/static.css}">
</head>
<body>

<form action="#" method="get">
    <div class="form-group mb-4">
        <label for="name_surname" th:text="#{nameandsurname}"></label>
        <input type="text" class="form-control" id="name_surname" name="name_surname" autofocus required>
    </div>

    <div class="form-group mb-4">
        <label th:text="#{email}" for="email"></label>
        <input type="text" class="form-control" id="email" name="email"  required>
    </div>

    <button type="reset" th:text="#{clear}" class="btn"></button>
    <input type="text" value="Gönder">


</form>


<!-- Bootstrap JavaScript Libraries -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"></script>
</body>
</html>